.main {
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  color: rgb(18, 31, 67);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(243, 244, 249);
}

.fc {
  /* the calendar root */
  max-width: "100%";
  max-height: 80vh;
  margin: 0 auto;
  background-color: #fff !important;
  padding: 1em;
  border-radius: 10px;
}

.fc-button {
  background-color: white !important;
  color: rgb(60, 64, 67) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  text-transform: capitalize !important;
  cursor: pointer !important;
  font-weight: bolder !important;
}
