.main {
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  color: rgb(18, 31, 67);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(243, 244, 249);
}

/* Full Calendar */
.fc {
  /* the calendar root */
  max-width: "100%";
  max-height: 80vh;
  margin: 0 auto;
  background-color: #fff !important;
  padding: 1em;
  border-radius: 10px;
  color: rgb(60, 64, 67) !important;
}

.fc a {
  color: rgb(60, 64, 67);
}

/* .fc td {
  height: 8rem !important;
} */

.fc-button {
  background-color: white !important;
  color: rgb(60, 64, 67) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  text-transform: capitalize !important;
  cursor: pointer !important;
  font-weight: bolder !important;
}

/* Date calendar */
.MuiDateCalendar-root {
  width: 240px !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 240px !important;
  max-height: 280px !important;
}

.MuiPickersCalendarHeader-root {
  height: 32px;
}

.MuiPickersCalendarHeader-labelContainer {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 20px;
  color: rgb(60, 64, 67);
}

.MuiDayCalendar-root * {
  font-size: 12px;
}

.MuiDayCalendar-header * {
  height: 24px;
  font-size: 10px;
}

.MuiDayCalendar-weekContainer {
  height: 32px;
}

.MuiPickersDay-root {
  width: 32px;
  height: 32px;
}

.MuiPickersArrowSwitcher-root * {
  font-size: 1.2rem;
  font-weight: 500;
}
